:root {
    --background-color: #feefe3;
    --primary-color: #ed9b59;
    --dark-color: #1a1d32;
    --grey-color: #7d8790;
    --text-color: #fff;
    --brown-color: #b25e21;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

button {
    width: 100%;
    /* Makes the button take up full available space */
    max-width: 200px;
    /* Ensures the button does not exceed 200px */
    padding: 10px;
    /* Padding for the button */
}

.header-section {
    background-color: var(--dark-color);
}

.header-section img {
    width: 80px;
}

.navbar {
    background-color: var(--dark-color);
    color: var(--text-color);
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    /* Adjust padding */
    font-size: 1.25rem;
    /* Adjust font size */
    height: auto;
    /* Set height to auto */
    width: auto;
    /* Set width to auto */
}


.contact {
    color: var(--dark-color);
    font-size: clamp(16px, 4vw, 32px);
    background-color: var(--primary-color);
    border-radius: 10px;
}


.myphoto {
    border-radius: 50%;
}

.my-photo {
    max-width: 200px;
    border-radius: 50%;
    width: 80vw;
    margin-top: -100px;
}

.hero {
    background-image: url("images/background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    background-color: #f8f9fa;
}

.about-me {
    color: var(--text-color);
    background-color: var(--dark-color);
    border-radius: 10px;
    margin-top: 100px;
}


.about-me {
    height: 50vh;
    /* Set height to 50% of viewport */
    display: flex;
    /* Enables flexbox for .about-me section */
    flex-direction: column;
    /* Aligns children in a column */
    justify-content: center;
    /* Centers items vertically within the about-me section */
    align-items: center;
    /* Centers items horizontally */
}

.my-name {
    color: var(--text-color);
    height: 245px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.my-name h1,
.my-name h2,
.my-name h3 {
    color: var(--primary-color);
}

.my-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.more-info {
    color: var(--dark-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.more-info h3 {
    margin: 0;
}

.more-info:hover {
    box-shadow: 1px 1px 3px 0px var(--primary-color);
    color: var(--text-color);
    background-color: var(--dark-color);
}


.info-section {
    display: none;
}

.info-section.active {
    display: flex;
}


.info-image {
    width: 90%;
}

.more-info-row h3 {
    font-size: 3vw;
}

.btn-outline-primary {
    font-size: 0.8rem;
}

.more-info-row a {
    text-decoration: none;
}

.more-info-row a:hover {
    text-decoration: none;
}

.git-section {
    align-items: center;
    color: var(--text-color);
}

.git-section-row {
    color: var(--text-color);
}

.git-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.work-section {}

.card img {
    width: 100%;
}

.card-title {
    color: var(--primary-color);
}

.btn-card {
    color: var(--text-color);
    background-color: var(--primary-color);
}

.btn-card:hover {
    color: var(--text-color);
    background-color: var(--dark-color);
    box-shadow: 0 2px 3px var(--primary-color);
}

.inner-school-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    /* Smooth transitions */
}

.inner-school-card:hover {
    transform: scale(1.05);
    /* Slightly zoom in (adjust value as needed) */
    box-shadow: 1px 1px 10px 0px var(--primary-color);
    /* Increase the shadow on hover */
}


.school-card img {
    width: 100%;
    height: 100%;
}

.footer-section {
    background-color: #eaedf2;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.horizontal-list li {
    display: inline;
}

.my-links li+li::before {
    content: " | ";
}

.horizontal-list a {
    text-decoration: none;
    color: var(--dark-color);
}

.horizontal-list a:hover {
    text-decoration: none;
    color: var(--primary-color);
}


.socials i {
    padding: 0 10px;
    color: var(--dark-color);
    font-size: clamp(24px, 2vw + 4px, 30px);
}

.socials i:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.programming-section {
    background-color: var(--dark-color);

}

.btn-check {
    display: none;
    border-radius: 10px;
}

.btn-outline-primary {
    border-color: var(--primary-color);
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.btn-outline-primary.active,
.btn-outline-primary:focus {
    background-color: var(--dark-color);
    color: white;
    border-color: var(--primary-color);
}

.btn-one {
    border-radius: 50%;
}

p {
    font-size: clamp(12px, 2vw + 2px, 16px);
    overflow-wrap: break-word;
}